/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }
}

/* Hero Style */
.cta-btn--hero {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}

.cta-btn:disabled,
.cta-btn[disabled] {
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
  transition: none;
  background-image: none;
  -webkit-text-fill-color: #999999;

  &:hover {
    cursor: not-allowed !important;
    pointer-events: auto !important;
    transition: none;
    color: #666666;
  }

  &::after {
    content: none;
    transition: none;
  }
}

.cta-btn--hero:disabled .cta-btn--hero[disabled] {
  background-image: none;
  -webkit-background-clip: none;
  -webkit-text-fill-color: #666666;
  border-image: none;
  border-image-slice: 0;
  cursor: not-allowed !important;
  pointer-events: auto !important;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: #666666;
    color: #666666;
    border: 2px solid #666666;
    -webkit-text-fill-color: #666666;
  }

  &::after {
    background-image: none;
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: #666666;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      -webkit-text-fill-color: #666666;
    }

    &::after {
      width: 100%;
    }
  }
}
